      <h2>Registrace:</h2>
      <!-- Zacatek formulare -->
      <form action="/register" method="post">
        <!-- Input Jmeno -->
        <div class="mb-3">
          <label>Jmeno:</label>
          <input type="text" class="form-control" name="jmeno" /><br />
        </div>
        <!-- Input Prijmeni -->
        <div class="mb-3">
          <label>Prijmeni:</label>
          <input type="text" class="form-control" name="prijmeni" /><br />
        </div>
        <!-- Input Telefon -->
        <div class="mb-3">
          <label>Telefon:</label>
          <input type="tel" class="form-control" name="telefon" /><br />
        </div>
        <!-- Input Email -->
        <div class="mb-3">
          <label>Email:</label>
          <input type="email" class="form-control" name="email" /><br />
        </div>
        <!-- Input Heslo -->
        <div class="mb-3">
          <label>Heslo:</label>
          <input type="password" class="form-control" name="heslo" /><br />
        </div>
        <!-- Input Tlacitka odeslani -->
        <input
          type="submit"
          class="btn btn-primary"
          name="tlacitkoOdeslani"
          value="Odeslat"
        />
      </form>
      <!-- Konec formulare -->


