<!DOCTYPE html>
<html>
<head>
<style>
</style>
</head>
<body>
<b>Dobrý den <%= objednavka.jmeno %> <%= objednavka.prijmeni %>, 
vaši objednávku jsme odexpedovali a přijde vám nejpozději do 5. pracovních dnů. </b>

</body>
</html>