<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<b>Dobrý den <%= jmeno %> ,</b>
<br>
<b>Dokončili jsme zpracování Vaší objednávky.</b>
<br>
<h3>Objednávka č. </h3>
<table>
  <tr>
    <th>Produkt</th>
    <th>Množství</th>
    <th>Cena</th>
  </tr>
  <tr>
    <td>neco</td>
    <td>1</td>
    <td>123 Kč</td>
  </tr>
</table>
<br>
<table>
  <tr>
    <th>Doprava:</th>
    <td>Neco zasilkovna</td>
  </tr>
  <tr>
    <th>Cena celkem:</th>
    <td>Kč</td>
  </tr>
</table>
<h3>Fakturační adresa</h3>
<br>
<p>jmeno</p>
<p>adresa</p>
<p>psc mesto</p>
<p>tel</p>
<p>email</p>
<br>
<h3>Doručovací adresa</h3>
<p>jmeno</p>
<p>adresa</p>
<p>psc mesto</p>

</body>
</html>