<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Prihlaseni:</h1><br>
        
        <form action="/postPages/login" method="post">
            <!-- Input Email -->
            <label>Email:</label>
            <input type="email" name="email"><br>
            <!-- Input Heslo -->
            <label>Heslo:</label>
            <input type="password" name="heslo"><br>

            <!-- Input Tlacitka odeslani -->
            <input type="submit" name="tlacitkoOdeslani" value="Odeslat">
        </form>
    </body>
</html>