<!DOCTYPE html>
<html>
    <head>
        <title>Registrace</title>
    </head>
    <body>
        <div class="container">
            <h2>Registrace: </h2>
            <!-- Zacatek formulare --> 
              <form action="/postPages/register" method="post">
                <!-- Input Jmeno -->
                <label>Jmeno:</label> 
                <input type="text" name="jmeno"><br>
                <!-- Input Prijmeni -->
                <label>Prijmeni:</label> 
                <input type="text" name="prijmeni"><br>
                <!-- Input Telefon -->
                <label>Telefon:</label>
                <input type="tel" name="telefon"><br>
                <!-- Input Email -->
                <label>Email:</label>
                <input type="email" name="email"><br>
                <!-- Input Heslo -->
                <label>Heslo:</label>
                <input type="password" name="heslo"><br>

                <!-- Input Tlacitka odeslani -->
                <input type="submit" name="tlacitkoOdeslani" value="Odeslat">
              </form>
              <!-- Konec formulare --> 
        </div>
    </body>
</html>