    <div class="container">
      <h1>Přihlasení:</h1>
      <br />
      <form action="/login" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Heslo</label>
          <input type="password" class="form-control" name="heslo" />
        </div>
        <button type="submit" class="btn btn-primary" name="tlacitkoOdeslani">
          Odeslat
        </button>
      </form>
    </div>

