<% MainData.forEach(function(data){ %>
    <%- include('../layouts/partials/nav-bar.ejs', {data: data}); %>
<% }); %>
<h1>Hlavni stránka</h1>
<footer><%- include('../layouts/partials/footer.ejs') %> </footer>


