<!-- navbar -->
<%- include('../partials/nav-bar.ejs'); %>
<div class="text-center p-4">
    <h1 class="mt-2 mb-2">Objednávka odeslána</h1>
    <h5 class="mt-2 mb-2 text-secondary">Vaše objednávka byla úspěšně odeslána.</h5>
    <a href="/" class="btn btn-success btn-lg mt-5">Zpět do obchodu</a>
</div>
<!-- footer -->
<%- include('../partials/footer.ejs'); %>