<%- include('../layouts/partials/nav-bar.ejs'); %>
<h1>Toto je košík</h1>
<br>
<h2>Tolikrat restartuju: <%= pocetNavstevProhlizece %> </h2>
<h2> Mnozstvi: <%= mnozstvi %>  </h2>
<%- include('../layouts/partials/footer.ejs'); %>